<!-- <ng-template [ngIf]="product" [ngIfThen] = "data" [ngIfElse] = "loader"></ng-template>
<ng-template #data>
	<div class="container">
		<app-product-card class="product" [product]="product"></app-product-card>
		<app-product-card class="product" [product]="product" ></app-product-card>
	</div>
</ng-template> -->
<!-- <ng-template [ngIf]="product && [product, product]" [ngIfElse] = "loader" let-defaultContext="$implicit"  let-products="ngIf" let-name="toString"> -->
<ng-template
	let-products
	[ngIf]="product && [product, product]"
	[ngIfElse]="loader"
>
	<!-- {{defaultContext===products}} -->
	<div class="container">
		<app-product-card
			class="product"
			[product]="products[0]"
		></app-product-card>
		<app-product-card
			class="product"
			[product]="products[1]"
		></app-product-card>
	</div>
</ng-template>

<ng-template #loader>
	<mat-spinner></mat-spinner>
</ng-template>
