<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="product-title">{{productTitle}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="productView.url" alt="Изображение товара">
    <mat-card-content>
      <p>
        {{productTitle}}
      </p>
    </mat-card-content>
    <table style="width: 100%">
      <tr>
        <td>
          <mat-icon aria-hidden="false" aria-label="favorite" fontIcon ="sell" class="cost-icon"></mat-icon>
          <label class="cost-value">
            {{productCost}}
          </label>
        </td>
        <td>
          <mat-card-actions>
            <button mat-icon-button>
              <mat-icon aria-hidden="false" aria-label="favorite" [fontIcon] ="initialFavotiteData.icon" class="favorite-icon"
              (click)="onFavoriteBtnClick($event)"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon [matBadge]="productCount" matBadgeSize="small" [matBadgeHidden]="shopBagBadgeVisibility" aria-hidden="false" aria-label="favorite" fontIcon ="shopping_cart"
              (click)="onShopigBagClick($event)"></mat-icon>
            </button>
          </mat-card-actions>
        </td>
      </tr>
    </table>
  </mat-card>